.products-list {
    display: grid;
    grid-template-columns: 20% 20% 20% 20%;
    gap: 3%;
    justify-content: space-around;
  }
  .myallproduct {
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    margin-top: 30px;
    text-decoration: none;
  }
 img{
    width: 95%;
    height: 200px;
    text-decoration: none;
}
h3{
    text-decoration: none;
}
p{
    text-decoration: none;
}